#lalamove-app{
    flex: 1;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    overflow: scroll;
    gap: 0;
}




/*
Remove WordPress Footer
*/
#wpfooter {
    display: none !important;
}
/*
Override wordpress style
*/
#wpbody {
    margin: 0;
    padding: 0 !important;
}

#wpcontent {
    padding: 0 0 !important;

}

#wpbody-content {
    position: fixed; /* Fix the position */
    width: 90%;
    height: auto;
    overflow: hidden; /* Prevent content from overflowing */
}

