#lalamove-app{
    flex: 1;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}


/*
Remove WordPress Footer
*/
#wpfooter {
    display: none !important;
}
/*
Remove WordPress Body padding and margin
*/
#wpbody{
    margin: 0px;
    padding: 0px !important;
}
#wpcontent {
    padding: 0 0  !important;
}