// Font Variables
$font-primary: 'Noto Sans', sans-serif !important;

// Font Size Variables
$font-size-xs: clamp(10px, 12px, 14px);
$font-size-sm: clamp(12px, 14px, 16px);
$font-size-md: clamp(14px, 16px, 18px);
$font-size-lg: clamp(16px, 20px, 20px);
$font-size-xl: clamp(18px, 22px, 22px);
$font-size-xxl: clamp(20px, 24px, 28px);


// Font Weight Variables
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Colors */

//Background Color
$bg-primary:  #f16622;
$bg-gray:  #EDEDED;
$bg-primary-light:  #FFECE3;
$bg-light: #FAFAFA;
$bg-high-light: #FFFFFF;
$bg-hovered: #EDEDED;

//Background Color State
$bg-success: #DBFFE3;
$bg-error: #FFEEEF;


// Header Color
$header: #4C4C4C;
$header-active: #f16622;

// Text Color
$txt-primary: #4C4C4C;
$txt-secondary: #232323;
$txt-light: #FCFCFC;

// Text Color State
$txt-success: #05B32B;
$txt-error: #CB3F49;
$txt-awaiting: #5578B1;
$txt-in-progress: #FF7937;
$txt-processing: #4C4C4C;
$txt-picked: #005353;
$txt-expired: #232323;

// Background Color State
$bg-success: #DBFFE3;
$bg-error: #FFEEEF;
$bg-awaiting: #E0F0FD;
$bg-in-progress: #FFEEEF;
$bg-processing: #FEF9E1;
$bg-picked: #93DFDF;
$bg-expired: #D9D9D9;

// Border Color  
$border-color: #EDEDED;

// Hover Color
$x-hover: #EDEDED;