// Font Variables
$font-primary: 'Noto Sans', sans-serif;

// Font Size Variables
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;



// Font Weight Variables
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors

//Background Color
$bg-primary:  #f16622;
$bg-light: #FFFFFF;

//Background Color State
$bg-success: #DBFFE3;
$bg-error: #FFEEEF;

// Color
$txt-primary: #4C4C4C;
$txt-secondary: #232323;

// Color State
$sucess: #05B32B;
$error: #CB3F49;


$header: #4C4C4C;
$header-active: #f16622;

